*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    padding: 1rem;
    height: 100vh;
    display: flex;
    justify-content: center;
    
}

#dice-game-button{
    background-color: transparent;
    color: white;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    padding: .7rem 2rem;
    border-radius: 1rem;
    font-size: 1.5rem;
    transition: all .8s;
    border: 2px solid rgb(4, 27, 70);
}

#dice-game-button:hover{
    background-color: rgb(4, 27, 70);
    border: 2px solid white;
}

.style-title{
    text-align: center;
    color: white;
    border-radius: 1rem;
    padding: 1rem 1rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(204, 204, 204, .6);
}

.wrapper{
    padding: 1rem 0;;
    position: relative;
    height: 40%;
    width: 50%;
    background: linear-gradient(160deg, #5312bb 60%, #a229f3 60%);
    border-radius: 1rem;
}



